footer {
  justify-content: space-between;

  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 16px;
}

.mat-button {
  min-width: auto;
  line-height: normal;
  padding: 0 8px;
  font-weight: 400;
}
