:host {
  box-sizing: border-box;
  padding: 8px 16px;
  width: 100%;
}

footer {
  justify-content: space-between;
}

.mat-button {
  min-width: auto;
  line-height: normal;
  padding: 0 8px;
  font-weight: 400;
}
