$app-dark-primary: mat-palette($mat-grey);
$app-dark-accent: mat-palette($mat-blue-grey);
$app-dark-warn: mat-palette($mat-deep-orange);

$app-dark-theme: mat-dark-theme(
    $app-dark-primary,
    $app-dark-accent,
    $app-dark-warn
);
