$app-light-primary: mat-palette($mat-grey);
$app-light-accent: mat-palette($mat-blue-grey);
$app-light-warn: mat-palette($mat-deep-orange);

$app-light-theme: mat-light-theme(
    $app-light-primary,
    $app-light-accent,
    $app-light-warn
);
