<h1 mat-dialog-title>Create user</h1>

<div mat-dialog-content>

  <form class="example-form" [formGroup]="formGroup">

    <mat-form-field class="example-full-width">
      <mat-label>Username</mat-label>
      <input matInput formControlName="username">
      <mat-error *ngIf="formGroup.controls.username.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input type="password" matInput formControlName="password">
    </mat-form-field>

    <div class="example-full-width">
      <mat-checkbox formControlName="isAdmin">Administrator</mat-checkbox>
    </div>

  </form>

</div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Cancel</button>
  <button mat-button (click)="onSubmitClick()" cdkFocusInitial>Submit</button>
</div>
