

<mat-toolbar [style.position]="(stickyHeader$ | async) ? 'fixed' : 'inherit'" [class.mat-elevation-z4]="(stickyHeader$ | async)">

  <div class="container" fxLayout="row">

    <a routerLink="/" class="brand" fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="flex-start center">
      <img [src]="logo" class="logo" alt="{{ companyName }}">
      <span>{{ appName }}</span>
    </a>

    <div fxLayoutAlign="flex-end center">

      <div fxShow="true" fxHide.lt-md>
        <a routerLink="/features"
           routerLinkActive="mat-flat-button"
           mat-button>{{ 'app.menu.features' | translate }}</a>

        <a routerLink="/authenticated"
           routerLinkActive="mat-flat-button"
           mat-button
           [disabled]="!(authService.isAuthenticated)">{{ 'app.menu.authenticated' | translate }}</a>
      </div>

      <div fxShow="true" fxHide.lt-md *ngIf="authService.isAuthenticated">
        <a routerLink="/admin"
           routerLinkActive="mat-flat-button"
           mat-button
           *ngIf="authService.isAdmin">{{ 'app.menu.admin' | translate }}</a>
      </div>

      <button mat-button [matMenuTriggerFor]="configMenu" fxHide.lt-md><fa-icon icon="sliders-h"></fa-icon></button>
      <mat-menu #configMenu="matMenu" yPosition="above">
        <app-theme-toggle [label]="'app.menu.darkmode' | translate"></app-theme-toggle>
        <app-sticky-header-toggle [label]="'app.menu.stickyheader' | translate"></app-sticky-header-toggle>
      </mat-menu>

      <app-language fxHide.lt-md></app-language>

      <div class="auth">
        <button routerLink="/auth/login"
                mat-raised-button
                color="accent"
                *ngIf="!(authService.isAuthenticated)">{{ 'app.menu.login' | translate }}</button>

        <button routerLink="/auth/logout"
                (click)="onLogoutClick($event)"
                mat-stroked-button
                color="accent"
                *ngIf="(authService.isAuthenticated)">{{ 'app.menu.logout' | translate }}</button>
      </div>

      <button mat-icon-button (click)="toggleSidenav.emit()" fxShow="true" fxHide.gt-sm>
        <fa-icon class="bars" icon="bars"></fa-icon>
      </button>

    </div>

  </div>

</mat-toolbar>
