mat-toolbar {
  z-index: 10;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 32px;
  @media (max-width: 599px) {
    padding: 0 16px;
  }
}

.brand {
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 16px;

  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.logo {
  height: 30px;
  margin-right: 16px;
}

app-theme {
  margin: 0 0 0 8px;
}

app-language {
  margin: 0 0 0 16px;
  width: 40px;
  font-size: 14px;
}

.auth {
  margin: 0 0 0 16px;
}
