<div class="container">
  <mat-card>
    <img [src]="logo" class="logo" alt="{{ companyName }}">
    <mat-card-title><h1>{{ 'app.auth.login.title' | translate }}</h1></mat-card-title>
    <mat-card-content>
      <app-alert></app-alert>
      <div class="hint">
        {{ 'app.auth.login.username' | translate }}: testuser@domain.tld<br>
        {{ 'app.auth.login.password' | translate }}: A#Very$ecretPwd
      </div>
      <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
          <mat-label>{{ 'app.auth.login.username' | translate }}</mat-label>
          <input matInput formControlName="username" autocomplete="username">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>{{ 'app.auth.login.password' | translate }}</mat-label>
          <input type="password" matInput formControlName="password" autocomplete="current-password">
        </mat-form-field>
        <div class="submit">
          <button mat-raised-button color="accent" type="submit" class="button" [disabled]="!formGroup.valid">{{ 'app.auth.login.submit' | translate }}</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
