<div class="container">
  <mat-card>
    <img [src]="logo" class="logo" alt="{{ companyName }}">
    <mat-card-title>{{ title }}</mat-card-title>
    <mat-card-content>
      <app-alert></app-alert>
      <div class="hint">
        Username: testuser@domain.tld<br>
        Password: A#Very$ecretPwd
      </div>
      <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
          <mat-label>Username</mat-label>
          <input matInput formControlName="username">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input type="password" matInput formControlName="password">
        </mat-form-field>
        <div>
          <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid">Login</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
