@use '~@angular/material' as mat;
$app-light-primary: mat.define-palette(mat.$grey-palette);
$app-light-accent: mat.define-palette(mat.$blue-grey-palette);
$app-light-warn: mat.define-palette(mat.$deep-orange-palette);

$app-light-theme: mat.define-light-theme(
    $app-light-primary,
    $app-light-accent,
    $app-light-warn
);
