.alert {
  margin: 1rem 0;
  padding: 1rem;
}

.alert-success {
  background-color: rgb(76, 175, 80);
  color: #ffffff;
}

.alert-warning {
  background-color: rgb(255, 235, 59);
  color: #000000;
}

.alert-info {
  background-color: rgb(33, 150, 243);
  color: #ffffff;
}

.alert-danger {
  background-color: rgb(244, 67, 54);
  color: #ffffff;
}
