@use '@angular/material' as mat;
@import 'src/scss/app';

@mixin app-alert-component-theme($theme) {
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $success-colors: mat.define-palette(mat.$green-palette, 400);
  $warning-colors: mat.define-palette(mat.$amber-palette, 400);

  .alert-success {
    color: mat.get-color-from-palette($success-colors, default-contrast);
    background-color: mat.get-color-from-palette($success-colors);
  }

  .alert-warning {
    color: mat.get-color-from-palette($warning-colors, default-contrast);
    background-color: mat.get-color-from-palette($warning-colors);
  }

  .alert-info {
    color: mat.get-color-from-palette($accent, default-contrast);
    background-color: mat.get-color-from-palette($accent);
  }

  .alert-danger {
    color: mat.get-color-from-palette($warn, default-contrast);
    background-color: mat.get-color-from-palette($warn);
  }
}
