<mat-toolbar class="flex flex-row">
  <div class="brand flex flex-row flex-auto place-content-start items-center">
    <img [src]="logo" alt="{{ appName }}" class="logo">
  </div>

  <app-language></app-language>
</mat-toolbar>

<mat-nav-list>
  <a (click)="toggleSidenav.emit()"
     mat-list-item
     routerLink="/features"
     routerLinkActive="active">{{ 'app.menu.features' | translate }}</a>

  <a (click)="toggleSidenav.emit()"
     *ngIf="authService.isAuthenticated"
     mat-list-item
     routerLink="/authenticated"
     routerLinkActive="active">{{ 'app.menu.authenticated' | translate }}</a>

  <a (click)="toggleSidenav.emit()"
     *ngIf="authService.isAdmin"
     mat-list-item
     routerLink="/admin">{{ 'app.menu.admin' | translate }}</a>

  <a (click)="toggleSidenav.emit(); onLogoutClick($event)"
     *ngIf="authService.isAuthenticated"
     mat-list-item
     routerLink="/auth/logout">{{ 'app.menu.logout' | translate }}</a>

  <a (click)="toggleSidenav.emit()"
     *ngIf="!(authService.isAuthenticated)"
     mat-list-item
     routerLink="/auth/login">{{ 'app.menu.login' | translate }}</a>
</mat-nav-list>

<mat-divider></mat-divider>

<mat-nav-list>
  <app-theme-toggle [label]="'app.menu.darkmode' | translate"></app-theme-toggle>
  <app-sticky-header-toggle [label]="'app.menu.stickyheader' | translate"></app-sticky-header-toggle>
</mat-nav-list>
