<mat-toolbar fxLayout="row">
  <div class="brand" fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="flex-start center">
    <img [src]="logo" class="logo" alt="{{ appName }}">
  </div>

  <app-language></app-language>
</mat-toolbar>

<mat-nav-list>
  <a routerLink="/features"
     (click)="toggleSidenav.emit()"
     routerLinkActive="active"
     mat-list-item>{{ 'app.menu.features' | translate }}</a>

  <a routerLink="/authenticated"
     (click)="toggleSidenav.emit()"
     routerLinkActive="active"
     mat-list-item
     [disabled]="!(authService.isAuthenticated)">{{ 'app.menu.authenticated' | translate }}</a>

  <a routerLink="/admin"
     (click)="toggleSidenav.emit()"
     mat-list-item
     *ngIf="authService.isAdmin">{{ 'app.menu.admin' | translate }}</a>

  <a routerLink="/auth/logout"
     (click)="toggleSidenav.emit(); onLogoutClick($event)"
     mat-list-item
     *ngIf="authService.isAuthenticated">{{ 'app.menu.logout' | translate }}</a>

  <a routerLink="/auth/login"
     (click)="toggleSidenav.emit()"
     mat-list-item
     *ngIf="!(authService.isAuthenticated)">{{ 'app.menu.login' | translate }}</a>
</mat-nav-list>

<mat-divider></mat-divider>

<mat-nav-list>
  <app-theme [label]="'app.menu.darkmode' | translate"></app-theme>
</mat-nav-list>
