mat-nav-list {
  width: 320px;
}

.logo {
  height: 30px;
}

app-language {
  margin: 0 0 0 24px;
  width: 40px;
  font-size: 14px;
}

app-theme-toggle {
  padding: 8px 16px;
  display: inline-block;
}

app-sticky-header-toggle {
  padding: 8px 16px;
  display: inline-block;
}
