<mat-sidenav-container fullscreen>

  <mat-sidenav-content fxLayout="column">

    <app-header (toggleSidenav)="sidenav.toggle()" fxFlex="0 0 auto"></app-header>

    <div id="content" role="main" fxFlex="1 0 auto" fullscreen [class.sticky-header]="(stickyHeader$ | async)">
      <router-outlet></router-outlet>
    </div>

    <app-footer fxFlexOffset="auto"></app-footer>

  </mat-sidenav-content>

  <mat-sidenav #sidenav position="start">
    <app-sidenav (toggleSidenav)="sidenav.toggle()"></app-sidenav>
  </mat-sidenav>

</mat-sidenav-container>
