<mat-sidenav-container [ngClass]="{'authenticated': authService.isAuthenticated}">

  <mat-sidenav-content class="flex flex-col min-h-screen overflow-x-hidden">

    <header app-header (toggleSidenav)="sidenav.toggle()"></header>

    <main [class.sticky-header]="(stickyHeader$ | async)" class="mb-auto" role="main">
      <router-outlet></router-outlet>
    </main>

    <footer app-footer></footer>

  </mat-sidenav-content>

  <mat-sidenav #sidenav position="start">
    <app-sidenav (toggleSidenav)="sidenav.toggle()"></app-sidenav>
  </mat-sidenav>

</mat-sidenav-container>
