<!-- HEADER -->
<div class="header mb-8"
     fxLayout="column" fxLayout.gt-xs="row"
     fxLayoutAlign="center center" fxLayoutAlign.gt-xs="space-between center">

  <!-- PAGE TITLE -->
  <h1 class="logo mb-6 sm:mb-0" fxLayout="row" fxLayoutAlign="start center">
    <mat-icon class="mr-4" inline="true">perm_identity</mat-icon>
    <span>{{ 'app.admin.users.title' | translate }}</span>

    <!-- CREATE BUTTON -->
    <button (click)="onCreateClick()" class="ml-4"
            color="accent"
            mat-fab>
      <mat-icon>add</mat-icon>
    </button>

    <!-- / CREATE BUTTON -->
  </h1>
  <!-- / PAGE TITLE -->

  <!-- SEARCH -->
  <div class="search-wrapper sm:ml-16" *ngIf="(query.valueChange$ | async) as request">
    <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
      <mat-icon>search</mat-icon>
      <input #searchInput (change)="onSearchChange(searchInput.value)" [value]=" request.searchText "
             matInput
             placeholder="{{ 'app.admin.users.search' | translate }}"
             type="text">
      <button (click)="onClearSearchButton()" *ngIf=" request.searchText.length > 0 "
              aria-label="Clear" mat-button mat-icon-button
              matSuffix>
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <!-- / SEARCH -->

</div>
<!-- / HEADER -->

<!-- FILTER -->
<mat-button-toggle-group (change)=" onDisabledFilterChange($event) " *ngIf="query.valueChange$ | async as qv" [value]="qv.disabled"
                         class="mb-4">
  <mat-button-toggle [value]="disabledAny">
    {{ 'app.admin.users.filter.all' | translate }}
  </mat-button-toggle>
  <mat-button-toggle [value]="disabledNo">
    {{ 'app.admin.users.filter.enabled' | translate }} ({{ (response$ | async)?.status?.summary?.enabledCount }})
  </mat-button-toggle>
  <mat-button-toggle [value]="disabledYes">
    {{ 'app.admin.users.filter.disabled' | translate }} ({{ (response$ | async)?.status?.summary?.disabledCount }})
  </mat-button-toggle>
</mat-button-toggle-group>
<!-- / FILTER -->

<!-- DATA TABLE -->
<ng-container *ngIf="response$ | async as response">

  <table [dataSource]="response.items"
         class="mat-elevation-z8"
         mat-table>

    <tr *matHeaderRowDef="columnsToDisplay"
        mat-header-row></tr>

    <tr (click)=" onEditClick(row) "
        *matRowDef="let row; columns: columnsToDisplay"
        mat-row></tr>

    <ng-container matColumnDef="username">
      <th *matHeaderCellDef mat-header-cell>{{ 'app.admin.users.field.username' | translate }}</th>
      <td *matCellDef="let user" mat-cell>{{user.username}}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell>{{ 'app.admin.users.field.name' | translate }}</th>
      <td *matCellDef="let user" mat-cell>{{user.firstName}} {{user.lastName}}</td>
    </ng-container>

    <ng-container matColumnDef="lastLogin">
      <th *matHeaderCellDef mat-header-cell>{{ 'app.admin.users.field.last_login' | translate }}</th>
      <td *matCellDef="let user" mat-cell>{{user.lastLogin | localizedDate:'short'}}</td>
    </ng-container>

  </table>

<mat-paginator *ngIf="response.status"
               (page)="onPaginatorPage($event)"
               [length]=" response.status.count "
               [pageIndex]="response.status.page -1"
               [pageSizeOptions]="[5, 10, 25, 100]"
               [pageSize]="response.status.pageSize">
</mat-paginator>

</ng-container>
<!-- / DATA TABLE -->
