<h1>{{ 'app.admin.users.title' | translate }}</h1>

<mat-toolbar>
  <button (click)="onCreateClick()" mat-button>Create new user</button>

  <div *ngIf="query.valueChange$ | async as qv">
    <mat-button-toggle (change)=" onEnabledButtonChange(qv) " [checked]=" qv.disabled === disabledNo">
      Enabled ({{ (response$ | async)?.status?.summary?.enabledCount }})
    </mat-button-toggle>
    <mat-button-toggle (change)=" onDisabledButtonChange(qv) " [checked]=" qv.disabled === disabledYes">
      Disabled ({{ (response$ | async)?.status?.summary?.disabledCount }})
    </mat-button-toggle>
  </div>

  <mat-form-field class="example-form-field">
    <mat-label>Search</mat-label>
    <input #searchInput (change)="onSearchChange(searchInput.value)" [value]=" (query.valueChange$ | async)?.searchText "
           matInput
           type="text">
    <button (click)="onClearSearchButton()" *ngIf=" (query.valueChange$ | async)?.searchText.length > 0 "
            aria-label="Clear" mat-button mat-icon-button
            matSuffix>
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

</mat-toolbar>


<ng-container *ngIf="response$ | async as response">

  <div *ngFor="let item of response.items">
    {{ item.id }} {{item.username}}
  </div>

  <mat-paginator (page)="onPaginatorPage($event)"
                 [length]=" response.status.count "
                 [pageIndex]="response.status.page -1"
                 [pageSizeOptions]="[5, 10, 25, 100]"
                 [pageSize]="response.status.pageSize">
  </mat-paginator>

</ng-container>

