<h1>{{ 'app.features.title' | translate }}</h1>

<div class="container grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
  <div *ngFor="let feature of features" class="wrapper w-full">
    <mat-card>
      <mat-card-title class="flex items-stretch">
        <div class="flex-auto">{{feature.name | translate}}</div>
        <code *ngIf="feature.version" class="self-start">{{feature.version}}</code>
      </mat-card-title>
      <mat-card-content>
        <p>
          {{ feature.description | translate }}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a *ngIf="feature.github" [href]="feature.github" mat-icon-button rel="noopener noreferrer" target="_blank">
          <fa-icon [icon]="['fab','github']"></fa-icon>
        </a>
        <a [href]="feature.documentation" mat-button rel="noopener noreferrer" target="_blank">
          <fa-icon icon="book"></fa-icon>
          {{ 'app.features.documentation' | translate }}
        </a>
        <a *ngIf="feature.medium" [href]="feature.medium" mat-button rel="noopener noreferrer" target="_blank">
          <fa-icon [icon]="['fab','medium-m']"></fa-icon>
          {{ 'app.features.guide' | translate }}
        </a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
