@import 'src/scss/app';

:host {
  display: block;
}

mat-card {
  height: 100%;
  padding: 16px !important;

  code {
    font-size: 11px;
  }

  mat-card-content {
    min-height: 50px;
  }

  mat-card-actions {
    position: absolute;
    bottom: 0;
    margin-bottom: 0 !important;
  }

}
