<h1>{{ 'app.features.title' | translate }}</h1>

<div class="container flex flex-row flex-wrap min-w-full">
  <div *ngFor="let feature of features" class="wrapper sm:basis-1/3 xs:basis-1/2 pr-4 pb-4">
    <mat-card>
      <mat-card-title class="flex flex-row place-content-stretch">
        <div class="flex-1">{{feature.name | translate}}</div>
        <code class="self-start" *ngIf="feature.version">{{feature.version}}</code>
      </mat-card-title>
      <mat-card-content>
        <p>
          {{ feature.description | translate }}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a *ngIf="feature.github" [href]="feature.github" mat-icon-button rel="noopener noreferrer" target="_blank">
          <fa-icon [icon]="['fab','github']"></fa-icon>
        </a>
        <a [href]="feature.documentation" mat-button rel="noopener noreferrer" target="_blank">
          <fa-icon icon="book"></fa-icon>
          {{ 'app.features.documentation' | translate }}
        </a>
        <a *ngIf="feature.medium" [href]="feature.medium" mat-button rel="noopener noreferrer" target="_blank">
          <fa-icon [icon]="['fab','medium-m']"></fa-icon>
          {{ 'app.features.guide' | translate }}
        </a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
